In [22]:
from selenium.webdriver import Edge
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import InvalidSelectorException, NoSuchElementException, ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import pandas as pd 
import numpy as np
import time

In [2]:
url='https://www.homes.com/'
driver_path= 'msedgedriver'

browser= Edge(executable_path= driver_path)
browser.get(url)

In [5]:
searsh= browser.find_element(By.XPATH, '//*[@id="ta-ge2k"]')

searsh.clear()
searsh.send_keys('New York')
searsh.send_keys(Keys.ENTER)

In [6]:
text=[]

In [29]:
for i in range(5):
    try:
        features = browser.find_elements(By.XPATH,'//div[starts-with(@class,"for-sale-content-container")]')
        for i in range(len(features)):
            try:
                txt= features[i].text
                text.append(txt)
                #time.sleep(5)
                
            except(StaleElementReferenceException):
                txtt= features[i].get_attribute("innerHTML")
                text.append(txtt)
                #time.sleep(5)
            
    except(InvalidSelectorException ,StaleElementReferenceException ,ElementNotInteractableException):
        text.append('NA')
        
    Next= browser.find_element(By.XPATH,'//button[starts-with(@class,"next text-only")]').click()

In [30]:
len(text)

102

In [31]:
text[60]

''

In [32]:
Text=[]

In [48]:
features = browser.find_elements(By.XPATH,'//div[starts-with(@class,"for-sale-content")]')

for i in range(len(features)):
    txt= features[i].text
    Text.append(txt)
    
Next= browser.find_element(By.XPATH,'//button[starts-with(@class,"next text-only")]').click()

len(Text)

400

In [58]:
Texts= set(Text)
len(Texts)

400

In [106]:
data= []

In [107]:
for i in range(len(Text)):
    apartment= Text[i]
    apart= apartment.split("\n")
    
    data.append(apart)

In [108]:
Houses= pd.DataFrame(data)
Houses.to_excel('Houses.xlsx')

In [102]:
Houses

,0,1,2,3,4,5,6
0,"$3,495,000",3 Beds,4 Baths,"1,995 Sq Ft","318 E 81st St Unit 4, New York, NY 10028","Welcome to 318 East 81st, an extraordinary col...",Shlomi Reuveni Reuveni LLC
1,"$1,625,000 OPEN SUN 12:30 PM",1 Bed,1 Bath,778 Sq Ft,"350 W 42nd St Unit 50E, New York, NY 10036","Welcome to 350 West 42nd Street 50E, your Cast...",Daniel Chun Compass
2,"$3,995,000",2 Beds,3 Baths,"2,445 Sq Ft","318 E 81st St Unit 1, New York, NY 10028",This ground-floor duplex residence features tw...,Shlomi Reuveni Reuveni LLC
3,"$2,895,000",2 Beds,3 Baths,"1,519 Sq Ft","261 W 28th St Unit 10D, New York, NY 10001",Introducing a very special opportunity to enjo...,Kenneth Hurley Industrie Residential
4,"$3,250,000",3 Beds,4 Baths,"2,100 Sq Ft","555 W 59th St Unit 9E, New York, NY 10019",Your perfect Uptown-meets-Midtown haven awaits...,Amjad Pervez Compass
...,...,...,...,...,...,...,...
395,"$439,000",1 Bath,425 Sq Ft,"153 E 57th St Unit 16G, New York, NY 10022","STUDIO WITH TERRACE! Rarely available, this hi...",R Brian Philpott Corcoran Group,None
396,"$500,000",1 Bed,1 Bath,750 Sq Ft,"153 E 57th St Unit 2H, New York, NY 10022",DESIGNER BLANK CANVAS for Sale: Create your ma...,R Brian Philpott Corcoran Group
397,"$2,845,000",3 Beds,3 Baths,"10 W 66th St Unit 26-EF, New York, NY 10023","INCREDIBLE OPPORTUNITY TO CREATE A BRIGHT, EXP...",Valerie Artzt Compass,None
398,"$1,249,000 OPEN SUN 11:30 AM",1 Bath,585 Sq Ft,"45 Christopher St Unit 3D, New York, NY 10014","Introducing an exquisite, fully renovated unit...",Thomas Koester Corcoran Group,None
399,"$2,495,000",4 Beds,4 Baths,"333 E 57th St Unit 2A, New York, NY 10022","333 East 57th Street, 2A 3 BD 4 BA Co-op Midto...",Deborah Kern Corcoran Group,None

In [110]:
price= []
bed= []
bath= []
Ft= []
address= []
description= []
agent= []

In [111]:
for j in range(len(data)):
    
    dep= data[j]
    for i in range(len(dep)): 
        value= dep[i]
        if i== 0:
            if '$' in value:
                price.append(value)
            else: 
                price.append('NA')
        elif i== 1:
            if 'Bed' in value:
                bed.append(value)
            else: 
                bed.append('NA')
        elif i== 2:
            if 'Bath' in value:
                bath.append(value)
            else: 
                bath.append('NA')
        elif i== 3:
            if 'Sq Ft' in value:
                Ft.append(value)
            else: 
                Ft.append('NA')
        elif i== 4:
            if 'New York' in value:
                address.append(value)
            else: 
                address.append('NA')
        elif i== 5:
            if value.isspace():
                description.append('NA')  
            else:
                description.append(value)
        elif i== 6:
            if value.isspace():
                agent.append('NA')  
            else:
                agent.append(value)
        else:
            pass
                        
print(price,address)

['$3,495,000', '$1,625,000 OPEN SUN 12:30 PM', '$3,995,000', '$2,895,000', '$3,250,000', '$2,495,000', '$1,695,000 OPEN SUN 12 - 1PM', '$1,875,000', '$1,700,000 OPEN SUN 11:30 AM', '$1,700,000', '$1,875,000', '$1,475,000 OPEN SUN 2 - 4PM', '$1,425,000', '$1,895,000', '$1,875,000 OPEN SUN 12:30 PM', '$1,895,000 OPEN SUN 11AM - 12PM', '$1,685,000', '$1,370,000 OPEN SUN 1 - 2PM', '$1,499,000', '$1,499,000', '$1,395,000 OPEN SAT 11AM - 2PM', '$1,499,000 OPEN SUN 12 - 2PM', '$1,390,000 OPEN SAT 12 - 2PM', '$1,825,000', '$1,750,000 OPEN SAT 12 - 2PM', '$635,000', '$350,000', '$629,000', '$9,000,000', '$495,000 OPEN SUN 2:30 PM', '$4,950,000', '$585,000 OPEN SUN 2 - 3PM', '$1,595,000 OPEN SUN 10AM - 4PM', '$999,000 OPEN MON 8:15 PM', '$2,500,000', '$5,600,000', '$1,550,000', '$1,395,000 OPEN SUN 1:30 PM', '$3,100,000', '$3,000,000 OPEN SUN 12 - 1PM', '$659,000 OPEN SUN 12 - 1PM', '$699,000 OPEN SUN 1 - 2PM', '$999,000', '$799,000', '$395,000 OPEN SUN 12 - 2PM', '$1,395,000 OPEN SUN 11AM - 12PM', '$1,500,000 OPEN TUE 12 - 2PM', '$1,295,000 OPEN SUN 1 - 3PM', '$455,000', '$4,600,000 OPEN SAT 11AM - 12PM', '$3,220,000', '$359,000 OPEN SUN 11AM - 1PM', '$520,000 OPEN SUN 11:30 AM', '$815,000 OPEN SUN 11AM - 1PM', '$819,000 OPEN SUN 2 - 4PM', '$3,600,000', '$725,000 OPEN MON 8:30 PM', '$398,000', '$600,000', '$4,100,000 OPEN SUN 12 - 1PM', '$895,000 OPEN SUN 1 - 3PM', '$3,050,000 OPEN SUN 2 - 3PM', '$1,175,000', '$995,000 OPEN SAT 2 - 3PM', '$995,000 OPEN SUN 12:15 PM', '$875,000 OPEN SUN 11AM - 12PM', '$3,800,000 OPEN SUN 3:30 PM', '$559,000', '$1,495,000 OPEN SUN 12:30 PM', '$1,350,000 OPEN SUN 12 - 1PM', '$819,000 OPEN SUN 12 - 3PM', '$450,000 OPEN SUN 11:30 AM', '$2,340,000', '$639,900', '$5,200,000', '$1,795,000 OPEN SUN 2 - 4PM', '$785,000 OPEN SUN 11AM - 1PM', '$925,000 OPEN SAT 10AM - 12PM', '$860,000 OPEN SUN 12 - 1PM', '$2,550,000 OPEN SUN 2 - 4PM', '$575,000 OPEN SUN 11AM - 1PM', '$1,250,000 OPEN SAT 1 - 2PM', '$795,000', '$6,750,000 OPEN SAT 12 - 1PM', '$1,295,000', '$975,000', '$1,325,000', '$750,000 OPEN SUN 1:30 PM', '$549,500 OPEN SUN 10 - 11AM', '$3,600,000', '$935,000 OPEN SUN 12 - 2PM', '$375,000', '$1,150,000', '$3,275,000', '$625,000', '$4,145,000', '$5,995,000', '$425,000 OPEN SUN 1 - 2PM', '$799,000 OPEN SUN 12 - 1PM', '$8,900,000', '$3,250,000 OPEN SUN 12 - 1PM', '$599,000', '$399,000 OPEN SUN 12 - 1PM', '$825,000', '$8,995,000', '$2,895,000 OPEN SUN 1 - 2PM', '$1,500,000 OPEN SAT 11AM - 12PM', '$2,400,000', '$1,175,000', '$1,300,000 OPEN SAT 1 - 3PM', '$2,145,000', '$1,199,000 OPEN SUN 11AM - 12PM', '$1,595,000', '$730,000', '$749,000 OPEN SUN 12 - 1PM', '$2,765,000 OPEN SUN 1 - 3PM', '$750,000 OPEN SUN 12 - 1PM', '$500,000 OPEN SUN 11AM - 1PM', '$999,000 OPEN SUN 11AM - 12PM', '$925,000', '$355,000', '$7,000,000', '$785,000 OPEN SUN 1:30 PM', '$3,995,000', '$899,000', '$579,000 OPEN SUN 12 - 1PM', '$450,000', '$850,000', '$688,000', '$3,950,000', '$899,000 OPEN SUN 2 - 3PM', '$545,000 OPEN SUN 11:30 AM', '$1,100,000 OPEN SUN 1 - 3PM', '$5,800,000', '$24,250,000', '$425,000', '$1,295,000 OPEN SUN 11AM - 12PM', '$1,575,000 OPEN SUN 12 - 1PM', '$2,695,000', '$1,059,000', '$2,100,000', '$595,000', '$635,000 OPEN SUN 2:30 PM', '$860,000 OPEN SUN 1 - 3PM', '$4,250,000', '$995,000 OPEN SUN 11AM - 12PM', '$1,295,000', '$3,500,000 OPEN SUN 12 - 2PM', '$2,500,000 OPEN SUN 12 - 2PM', '$2,595,000', '$3,500,000', '$2,400,000', '$4,795,000 OPEN SAT 2 - 3PM', '$1,795,000', '$649,000 OPEN SUN 12 - 1PM', '$895,000', '$400,000', '$1,200,000 OPEN SUN 12 - 1PM', '$5,850,000', '$600,000', '$4,200,000', '$4,200,000', '$1,850,000', '$30,000,000', '$1,100,000 OPEN SUN 2 - 3PM', '$3,300,000', '$1,995,000', '$3,995,000', '$519,000', '$625,000 OPEN SUN 1 - 2PM', '$3,750,000 OPEN SUN 11:30 AM', '$1,250,000', '$7,400,000', '$18,745,000', '$15,995,000', '$2,149,000', '$649,000 OPEN SAT 12 - 2PM', '$2,995,000 OPEN SUN 1 - 2PM', '$6,600,000', '$4,150,000', '$925,000', '$12,500,000', '$4,500,000 OPEN SUN 1 - 2PM', '$1,200,000', '$345,000', '$725,000 OPEN SUN 12 - 1PM', '$595,000', '$11,395,000', '$3,995,000', '$12,495,000', '$2,150,000', '$865,000 OPEN SAT 3 - 4PM', '$525,000 OPEN SUN 12 - 2PM', '$1,300,000 OPEN SUN 1 - 2PM', '$4,250,000', '$11,200,000', '$6,995,000', '$5,750,000', '$8,750,000', '$1,775,000', '$745,000 OPEN SUN 11:15 AM', '$1,825,000 OPEN SUN 12:30 PM', '$6,200,000', '$1,195,000 OPEN SUN 1:30 PM', '$495,000', '$575,000', '$649,000', '$5,950,000 OPEN TUE 5 - 6PM', '$1,200,000', '$18,750,000', '$1,500,000', '$1,950,000', '$5,300,000', '$1,595,000', '$678,000 OPEN SUN 3 - 4PM', '$1,125,000', '$9,180,000', '$679,000', '$1,499,000', '$445,000', '$1,250,000 OPEN SUN 10AM - 4PM', '$1,250,000', '$515,000 OPEN SAT 1 - 2PM', '$2,225,000 OPEN SUN 3:30 PM', '$995,000 OPEN SUN 12 - 1PM', '$440,000', '$2,199,800 OPEN WED 5:30 PM', '$399,000', '$685,000', '$1,248,000', '$585,000', '$1,800,000', '$1,195,000 OPEN SUN 12 - 1PM', '$1,995,000', '$624,000', '$2,695,000', '$2,200,000', '$510,000', '$649,000 OPEN SAT 1 - 2PM', '$1,795,000', '$42,500,000 OPEN SUN 11AM - 1PM', '$3,400,000 OPEN SUN 1 - 2PM', '$749,000 OPEN SUN 1 - 2PM', '$540,000 OPEN SUN 11:30 AM', '$3,200,000', '$425,000', '$7,365,000', '$15,500,000', '$550,000 OPEN SUN 2 - 3PM', '$6,900,000', '$328,000', '$975,000 OPEN SUN 12 - 1PM', '$1,485,000', '$2,595,000', '$4,400,000 OPEN MON 5:30 PM', '$735,000', '$2,010,000 OPEN SUN 12 - 2PM', '$595,000 OPEN SUN 1 - 2PM', '$450,000 OPEN MON 5 - 7PM', '$775,000', '$750,000', '$1,195,000', '$2,100,000', '$9,800,000', '$1,032,000 OPEN SUN 12 - 1PM', '$1,199,000', '$1,149,000', '$384,900 OPEN SUN 1 - 2PM', '$4,650,000', '$749,000', '$845,000 OPEN SUN 12 - 1PM', '$439,000 OPEN SUN 12:30 PM', '$1,995,000', '$848,000', '$335,000', '$1,995,000', '$450,000', '$329,000', '$3,789,000', '$1,995,000 OPEN SUN 1:30 PM', '$2,595,000 OPEN SAT 10AM - 4PM', '$400,000', '$27,950,000', '$799,000', '$695,000 OPEN SUN 1 - 3PM', '$339,000 OPEN SUN 2 - 3PM', '$2,100,000 OPEN SUN 3 - 5PM', '$398,000 OPEN SUN 2:30 PM', '$1,350,000', '$989,000', '$629,000 OPEN SUN 1 - 2PM', '$2,150,000', '$2,700,000', '$675,000', '$3,250,000 OPEN SUN 2 - 3PM', '$4,495,000', '$755,000', '$4,200,000', '$2,750,000', '$975,000', '$3,250,000', '$705,000', '$999,000', '$7,500,000 OPEN SUN 12 - 1PM', '$1,650,000 OPEN SUN 12:30 PM', '$539,000 OPEN SUN 1:30 PM', '$3,395,000', '$749,000 OPEN SUN 3 - 4PM', '$525,000', '$375,000', '$575,000 OPEN SUN 11AM - 1PM', '$799,000 OPEN SUN 1 - 2PM', '$725,000', '$895,000', '$1,725,000 OPEN SUN 12 - 1PM', '$1,640,000 OPEN SUN 12:30 PM', '$20,000,000', '$369,000 OPEN SUN 12 - 1PM', '$665,000 OPEN SUN 12 - 1PM', '$2,799,000', '$6,500,000 OPEN WED 5 - 6PM', '$1,120,000 OPEN SAT 12 - 1PM', '$585,000', '$1,695,000', '$949,000', '$1,225,000 OPEN SAT 11AM - 1PM', '$6,750,000', '$635,000 OPEN SUN 1 - 2PM', '$2,200,000', '$999,000 OPEN SUN 1:30 PM', '$430,000', '$1,549,000', '$2,395,000', '$1,350,000 OPEN SUN 12 - 1PM', '$1,050,000 OPEN SUN 1:30 PM', '$2,495,000 OPEN SUN 12 - 3PM', '$4,750,000', '$2,450,000', '$1,495,000 OPEN SUN 1 - 2PM', '$560,000', '$1,195,000', '$359,000', '$750,000', '$1,725,000', '$560,000 OPEN SUN 11AM - 1PM', '$1,455,000', '$2,450,000 OPEN SUN 1 - 2PM', '$1,995,000', '$277,000 OPEN SUN 11:45 AM', '$2,850,000', '$995,000 OPEN SUN 11:30 AM', '$5,900,000', '$1,695,000 OPEN SUN 11:30 AM', '$2,150,000 OPEN HOUSE 7/29', '$17,495,000', '$825,000', '$1,750,000', '$1,275,000', '$395,000', '$615,000 OPEN SUN 12 - 1PM', '$2,295,000', '$1,395,000', '$1,300,000 OPEN SAT 2 - 3PM', '$695,000', '$425,000 OPEN SUN 11AM - 12PM', '$3,395,000 OPEN SUN 2 - 3PM', '$535,000 OPEN SAT 12 - 1PM', '$595,000', '$650,000', '$1,795,000', '$499,000', '$3,500,000', '$1,985,000', '$785,000', '$10,500,000', '$4,190,000', '$23,000,000', '$3,635,000', '$425,000', '$1,195,000 OPEN SAT 12 - 1PM', '$519,900 OPEN SUN 11AM - 1PM', '$975,000 OPEN SUN 1 - 2PM', '$1,775,000 OPEN SAT 11AM - 1PM', '$649,000', '$1,099,000', '$1,695,000', '$1,700,000', '$645,000', '$935,000', '$435,000', '$745,000', '$850,000', '$355,000 OPEN SUN 12:30 PM', '$2,100,000', '$1,569,000 OPEN SUN 12 - 2PM', '$439,000', '$500,000', '$2,845,000', '$1,249,000 OPEN SUN 11:30 AM', '$2,495,000'] ['318 E 81st St Unit 4, New York, NY 10028', '350 W 42nd St Unit 50E, New York, NY 10036', '318 E 81st St Unit 1, New York, NY 10028', '261 W 28th St Unit 10D, New York, NY 10001', '555 W 59th St Unit 9E, New York, NY 10019', '139 E 23rd St Unit 2, New York, NY 10010', '555 W 23rd St Unit N8F, New York, NY 10011', '159 W 24th St Unit 2C, New York, NY 10011', '450 W 17th St Unit 1001, New York, NY 10011', '254 W 123rd St Unit 1, New York, NY 10027', '715 Park Ave Unit 14B, New York, NY 10021', 'NA', '350 W 42nd St Unit 41H, New York, NY 10036', '304 E 65th St Unit 6BC, New York, NY 10065', '325 5th Ave Unit 19H, New York, NY 10016', 'NA', '200 Riverside Blvd Unit 21B, New York, NY 10069', '200 W End Ave Unit 6J, New York, NY 10023', '38 Delancey St Unit 4E, New York, NY 10002', '38 Delancey St Unit 4A, New York, NY 10002', '389 E 89th St Unit 14A, New York, NY 10128', '337 E 62nd St Unit 4A, New York, NY 10065', 'NA', '11-02 49 Th Ave Unit PH 1 B, New York City, NY 11101', 'NA', 'NA', 'NA', 'NA', '50 Lispenard St Unit 1/2, New York, NY 10013', 'NA', '471 Washington St Unit THB, New York, NY 10013', 'NA', '39 E 19th St Unit 3, New York, NY 10003', '205 3rd Ave Unit 6C, New York, NY 10003', 'Elizabeth Vega R New York', '565 Broome St Unit S23B, New York, NY 10013', 'NA', 'NA', '415 E 54th St Unit 24G, New York, NY 10022', '15 Renwick St Unit 301, New York, NY 10013', 'NA', 'NA', 'NA', '400 E 90th St Unit 15F, New York, NY 10128', 'NA', 'NA', 'NA', '224 W 18th St Unit 3B, New York, NY 10011', '524 E 13th St Unit E-4, New York, NY 10009', 'NA', "Here is an opportunity to create an amazing Duplex: 13/14B in one of New York's iconic Rosario Candela buildings: 30 Sutton Place. Bring your architect and imagination to combine a 5 Room apartment (#14B) with our 1 Bedroom listing (#13B.) This Duplex would allow the formation of an 8 Room, 3", 'NA', '418 Central Park W Unit 46, New York, NY 10025', 'NA', 'NA', '53 N Moore St Unit 2A, New York, NY 10013', 'NA', 'NA', 'NA', '11 E 22nd St Unit 7, New York, NY 10010', '64 E 3rd St Unit 1A, New York, NY 10003', '822 Greenwich St Unit 2G, New York, NY 10014', 'NA', 'NA', 'NA', '302 Broome St Unit 5A, New York, NY 10002', '105 Norfolk St Unit TOWER15, New York, NY 10002', 'NA', 'NA', '305 2nd Ave Unit 332, New York, NY 10003', 'NA', '330 3rd Ave Unit 5L, New York, NY 10010', '901 Lexington Ave Unit GF, New York, NY 10065', '140 Claremont Ave Unit 6B, New York, NY 10027', '195 Hudson St Unit 4B, New York, NY 10013', 'NA', 'NA', "Sweeping NYC views!!! Light!! JUMBO Lincoln Towers 1 Bedroom. MAINTENANCE INCLUDES ELECTRIC & GAS PARKING EN SUITE IN COVERED GARAGE (Monthly Fee for Garage Space That Connects To The Building's Basement) Welcome to Lincoln Towers, where luxury and convenience meet in the heart of New York", 'NA', 'NA', 'Welcome to 745 East 6th Street, apartment 4B! Discover this meticulously renovated, move-in ready two-bedroom just three flights up. With its prime location and modern style, this gem offers the perfect opportunity to experience the vibrant lifestyle of New York City. Upon entering apartment 4B,', 'Welcome New York City\'s Gold Coast, where sophistication meets convenience at 13 West 13th Street 1AS. This expansive 2-bedroom, 2-bathroom apartment offers nearly 1,300 square feet of living space and boasts stunning 9.5-foot beamed ceilings adorned with crown moldings and finished 5" hardwood', 'NA', '235 W 75th St Unit 1120, New York, NY 10023', '301 W 57th St Unit 10A, New York, NY 10019', 'NA', '400 E 56th St Unit 33 g, New York, NY 10022', 'NA', '25 W 54th St Unit 8B, New York, NY 10019', 'NA', 'NA', '450 W 152nd St Unit 33, New York, NY 10031', 'NA', '721 5th Ave Unit 36G, New York, NY 10022', 'NA', '360 E 89th St Unit 5 AB, New York, NY 10128', '100 E 53rd St Unit 5C, New York, NY 10022', '333 E 43rd St Unit 602, New York, NY 10017', 'NA', '38 E 73rd St, New York, NY 10021', '180 E End Ave Unit 21 GH, New York, NY 10128', 'NA', 'NA', 'NA', '35 Hudson Yards Unit 7603, New York City, NY 10001', '200 E 62nd St Unit 4A, New York, NY 10065', '245 W 74th St Unit 1A, New York, NY 10023', '40 Stuyvesant St Unit 2, New York, NY 10003', '425 E 13th St Unit 5-P, New York, NY 10009', 'NA', '150 W 56th St Unit 3503, New York, NY 10019', 'NA', '38 E 85th St Unit 7E, New York, NY 10028', 'NA', 'NA', '138 E 50th St Unit 30A, New York, NY 10022', 'NA', '142 E 49th St Unit 9E, New York, NY 10017', 'NA', 'NA', 'NA', '246 E 49th St, New York, NY 10017', 'NA', '502 Park Ave Unit 6 HJ, New York, NY 10022', '150 W 51st St Unit 1508, New York, NY 10019', 'NA', '80 La Salle St Unit 16A, New York, NY 10027', 'NA', '456 W 167th St Unit 1B, New York, NY 10032', 'NA', '215 E 24th St Unit 607, New York, NY 10010', 'NA', '385 1st Ave Unit 7-D, New York, NY 10010', '10 Sullivan St Unit 2B, New York, NY 10012', '1 N Moore St Unit PH, New York, NY 10013', 'NA', 'NA', 'NA', '505 W 43rd St Unit 14H, New York, NY 10036', '515 E 72nd St Unit 4M, New York, NY 10021', '150 W 56th St Unit 4003, New York, NY 10019', 'NA', 'NA', '220 E 73rd St Unit 9C, New York, NY 10021', 'NA', '235 E 40th St Unit 15B, New York, NY 10016', '333 E 91st St Unit 5A, New York, NY 10128', 'NA', '125 W 22nd St Unit 1B, New York, NY 10011', '530 E 86th St Unit 7A, New York, NY 10028', '140 E 63rd St Unit 11A, New York, NY 10065', '230 W 56th St Unit 54E, New York, NY 10019', '215 E 19th St Unit 11G, New York, NY 10003', '130 W 67th St Unit 21-CD, New York, NY 10023', '2025 Broadway Unit 4 K, New York, NY 10023', 'NA', 'NA', '77 E 110th St Unit 8A, New York, NY 10029', '301 E 81st St Unit 9-A, New York, NY 10028', '1810 3rd Ave Unit A-8A, New York, NY 10029', '1021 Manhattan Ave, New York, NY 11222', 'NA', 'NA', '6 Sutton Sq, New York, NY 10022', '45 Sutton Pl S Unit 17D, New York, NY 10022', 'NA', '38 Delancey St Unit 4B, New York, NY 10002', '38 Delancey St Unit 4CD, New York, NY 10002', '150 E 61st St Unit 3J, New York, NY 10065', 'NA', 'NA', '211 E 51st St Unit 12-C, New York, NY 10022', 'Welcome to apartment 12A at 1136 5th Ave! This prestigious address in New York City combines classic charm with contemporary luxury. The impressive foyer with arched doorways sets the tone for this elegant residence. The oversized windows offer stunning views of Central Park, filling the living', '535 W End Ave Unit 172 P, New York, NY 10024', '535 W End Ave Unit 17, New York, NY 10024', 'NA', '440 E 79th St Unit 2N, New York, NY 10075', 'NA', 'NA', '312 E 51st St, New York, NY 10022', '77 7th Ave Unit 16 V, New York, NY 10011', '11 Beach St Unit PHA, New York, NY 10013', '50 Riverside Blvd Unit 16-N, New York, NY 10069', '88 Morningside Ave Unit 4C, New York, NY 10027', 'NA', 'NA', 'NA', '42 Crosby St Unit 4S, New York, NY 10012', '450 Washington St Unit 211, New York, NY 10013', '7 Bond St Unit PHA, New York, NY 10012', '150 W 82nd St Unit 1 AE, New York, NY 10024', '320 E 54th St Unit 4G, New York, NY 10022', 'NA', 'NA', '200 E 61st St Unit 38G/39F, New York, NY 10065', 'NA', '682 Broadway Unit 10F, New York, NY 10012', 'NA', '156 Waverly Pl, New York, NY 10014', '345 E 57th St Unit 5-CD, New York, NY 10022', 'NA', 'NA', '784 Park Ave Unit 12C, New York, NY 10021', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', '285 Central Park W Unit 6-N/E, New York, NY 10024', 'NA', '200 Central Park S Unit 10G, New York, NY 10019', '48 Mercer St Unit 7W, New York, NY 10013', 'NA', 'NA', 'NA', '85 Leonard St Unit PH, New York, NY 10013', 'NA', '267 W 131st St, New York, NY 10027', 'NA', 'NA', 'NA', 'NA', '101 W 24th St Unit 7E, New York, NY 10011', '350 W 42nd St Unit 12D, New York, NY 10036', '305 W 150th St Unit 204, New York, NY 10039', 'NA', 'STUDIO PERFECTION This enchanting, renovated TOP FLOOR gem feels more like a home than a studio. Bathed in gorgeous southeastern light with pretty blue sky and greenery from every window, this beauty also enjoys the rare privacy we all crave in New York; no nearby neighbors looking in and no', 'NA', '2109 Broadway Unit 1492, New York, NY 10023', '156-08 Riverside Dr W Unit 4J, New York, NY 10032', '319 W 14th St Unit 3, New York, NY 10014', '450 W 17th St Unit 2001, New York, NY 10011', 'NA', 'NA', '100 Riverside Blvd Unit 31D, New York, NY 10069', '18 W 48th St Unit 25B, New York, NY 10036', '532 W 111th St Unit 33, New York, NY 10025', 'NA', '126 Waverly Pl Unit 2C, New York, NY 10011', '200 E 59th St Unit PH33/34, New York, NY 10022', 'NA', '525 E 82nd St Unit 10D, New York, NY 10028', 'NA', '252 7th Ave Unit 12Q, New York, NY 10001', 'NA', '565 Broome St Unit S27B, New York, NY 10013', '432 Park Ave Unit 37B, New York, NY 10022', 'NA', '565 Broome St Unit N20B, New York, NY 10013', 'Sorangel Fersobe Matos Berkshire Hathaway HomeServices New York Properties', 'NA', '350 W 53rd St Unit PHE, New York, NY 10019', '815 Park Ave Unit 7c, New York, NY 10021', '487 Greenwich St Unit 1A, New York, NY 10013', 'Welcome to 22 Irving Place. Built on the former home of Nobel Peace Prize winner Elihu Root, this one-bedroom co-op is perfectly located. Convenient to Gramercy Park, the Union Square farmers market and all area transportation, this is a home that allows you to enjoy the best New York has to offer.', '277 5th Ave Unit 20C, New York, NY 10016', '54 E 129th St Unit 6B, New York, NY 10035', 'NA', 'NA', 'NA', 'NA', '150 E 69th St Unit 18B, New York, NY 10021', '170 E End Ave Unit 14A, New York, NY 10128', '80 Elizabeth St Unit 3P, New York, NY 10013', 'NA', 'NA', 'NA', '314 W 102nd St, New York, NY 10025', 'NA', 'Rarely available "H" line on High Floor with Expansive Open Views! Are you ready to space and serenity in from the chaos that is New York? Well, step into this lovely new offering with great vibes and energy abounding while enjoying the best location in the City. Lincoln Towers\' generous layouts', 'NA', '40 Bleecker St Unit 4G, New York, NY 10012', '350 W 50th St Unit 3G, New York, NY 10019', 'NA', '404 Park Ave S Unit 4A, New York, NY 10016', '80 St Nicholas Ave Unit 6 F, New York City, NY 10026', 'NA', '51 Hamilton Ter, New York, NY 10031', "Welcome to 72 Perry Street; an enchanting living experience nestled in the heart of New York City's West Village. Located on a picturesque and historic brownstone block, this property embodies the timeless charm of a classic era. Prepare to be captivated by the allure of this well-maintained co-op", 'NA', 'NA', '20 W 53rd St Unit 18/19BC, New York, NY 10019', 'NA', '319 E 50th St Unit 9G, New York, NY 10022', 'NA', '124 W 23rd St Unit 3A, New York, NY 10011', 'NA', '120 E 90th St Unit 3D, New York, NY 10128', '2166 Broadway Unit 5C, New York, NY 10024', 'NA', '425 E 58th St Unit 32C, New York, NY 10022', '525 Park Ave Unit 14B, New York, NY 10065', "Located on one of the most desirable tree-lined residential blocks in New York City, 315 West 55th Street is at the crossroads of Columbus Circle and Hell's Kitchen. The combination of two studios, unit 1EF is a bright, south-facing, well-appointed one-bedroom, two-bathroom home with a gracious", '52 E 4th St Unit 10, New York, NY 10003', '252 E 57th St Unit 41C, New York, NY 10022', 'NA', '80 Riverside Blvd Unit 15L, New York, NY 10069', 'NA', '515 E 72nd St Unit 18A, New York, NY 10021', '224 E 14th St Unit . ONE, New York, NY 10003', 'NA', '350 W 42nd St Unit 18B, New York, NY 10036', '106 Central Park S Unit 3A, New York, NY 10019', '350 W 42nd St Unit 55E, New York, NY 10036', 'NA', '5 Franklin Pl Unit 6A, New York, NY 10013', 'NA', 'NA', 'NA', 'NA', 'NA', 'All showings, including open houses are by appointment only. Contact team for showing requests. MINT UES 1 BEDROOM + LARGE PRIVATE TERRACE Welcome home to a gorgeous, Southern facing one bedroom with a large private terrace and views of New York City. This light-filled, beautifully updated home', '350 E 62nd St Unit 3B, New York, NY 10065', 'NA', 'NA', '157 W 57th 

In [114]:
des= len(price)- len(description)
agt= len(price)- len(agent)

for i in range(des):
    description.append('NA')

for i in range(agt):
    agent.append('NA')

In [115]:
Data= pd.DataFrame()

Data['price']= price 
Data['bed']= bed
Data['bath']= bath
Data['Ft']= Ft
Data['address']= address
Data['description']= description
Data['agent']= agent

Data

,price,bed,bath,Ft,address,description,agent
0,"$3,495,000",3 Beds,4 Baths,"1,995 Sq Ft","318 E 81st St Unit 4, New York, NY 10028","Welcome to 318 East 81st, an extraordinary col...",Shlomi Reuveni Reuveni LLC
1,"$1,625,000 OPEN SUN 12:30 PM",1 Bed,1 Bath,778 Sq Ft,"350 W 42nd St Unit 50E, New York, NY 10036","Welcome to 350 West 42nd Street 50E, your Cast...",Daniel Chun Compass
2,"$3,995,000",2 Beds,3 Baths,"2,445 Sq Ft","318 E 81st St Unit 1, New York, NY 10028",This ground-floor duplex residence features tw...,Shlomi Reuveni Reuveni LLC
3,"$2,895,000",2 Beds,3 Baths,"1,519 Sq Ft","261 W 28th St Unit 10D, New York, NY 10001",Introducing a very special opportunity to enjo...,Kenneth Hurley Industrie Residential
4,"$3,250,000",3 Beds,4 Baths,"2,100 Sq Ft","555 W 59th St Unit 9E, New York, NY 10019",Your perfect Uptown-meets-Midtown haven awaits...,Amjad Pervez Compass
...,...,...,...,...,...,...,...
395,"$439,000",NA,NA,NA,NA,NA,NA
396,"$500,000",1 Bed,1 Bath,750 Sq Ft,"153 E 57th St Unit 2H, New York, NY 10022",NA,NA
397,"$2,845,000",3 Beds,3 Baths,NA,NA,NA,NA
398,"$1,249,000 OPEN SUN 11:30 AM",NA,NA,NA,NA,NA,NA
399,"$2,495,000",4 Beds,4 Baths,NA,NA,NA,NA

In [116]:
Houses2= pd.DataFrame(Data)
Houses2.to_excel('Houses2.xlsx')